extends layout

block content
    .container
        .h1 About us
    .container
        .row
            .col-md-4
                .h4 Openspaces is an initiative buit to help developers get open spaces to work at a small rate.
                .h4 We built a Messenger Bot that will enable you book for your prefered worjing space
                a.btn.btn-primary.btn-lg(href="") Messenger Bot &raquo;
    
    .container
        .Team
            .h2 The team
            .h4 Open spaces has a very motivated team that works hard for the people.