extends layout

block content
	.jumbotron
		.container
	.info
		h1 Welcome to OP3NSP@CES!!
		P An initiative for Developers By Developers.
		a.btn.btn-primary.btn-lg(href="") Learn More &raquo;
	.container
			.row
				.col-md-4
					h2 About Us
					p We transorm your designs into magic
					a.btn.btn-default(href="#") View Details
			
				.col-md-4
					h2 Learn
					p We transorm your designs into magic
					a.btn.btn-default(href="#") View Details
			
				.col-md-4
					h2 Designs
					p We transorm your designs into magic
					a.btn.btn-default(href="#") View Details
