extends layout

block content
	.jumbotron
		.container
			h1 How may i help you?
			P This is jus a sample text of what will b shown on the jumbotron.please help me add more content on the paragraph.
			a.btn.btn-primary.btn-lg(href="") Learn More &raquo;
	.container
			.row
				.col-md-4
					h2 About Us
					p We transorm your designs into magic
					a.btn.btn-default(href="#") View Details
			
				.col-md-4
					h2 Learn
					p We transorm your designs into magic
					a.btn.btn-default(href="#") View Details
			
				.col-md-4
					h2 Designs
					p We transorm your designs into magic
					a.btn.btn-default(href="#") View Details
