extends layout

block content
	.jumbotron
		.container
	.info
		h1 Welcome to OP3NSP@CES!!
		P An initiative for Developers By Developers.
		a.btn.btn-primary.btn-lg(href="/about") Learn More &raquo;
	.container
			.row
				.col-md-4
					h2 About Us
					p We connet you with spaces and mentors
					a.btn.btn-default(href="/about") View Details

