extends layout

block content
	.container
		.jumbotron
			.container
				h1 How may i help you?
				P This is jus a sample text of what will b shown on the jumbotron.please help me add more content on the paragraph.
				a.btn.btn-primary.btn-lg(href="") Learn More &raquo;
