body {
padding-top: 50px;
}

.jumbotron{
  background: url('../images/design.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 500px;
  color: white;
  text-align: bottom;
}

footer{
  background: #f4f4f4;
  height: 40px;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  overflow: auto;
}

.info{
  text-align: center;
}
